/* .All-change-pass{
    background-color:#b8a5fe;
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 724px;
} */
body{
    height: auto;
    width: auto;
    background-color:#b8a5fe;
 }
.logo{
    height:11%;
    margin-top: 4%;
    width: 27%;
    margin-left:37%;
    margin-bottom: 2%;
}
.container{
    width: 520px;
    margin: 30px auto;
    /* display: flex; */
     margin-top: 8%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
}
.change-pass{
    margin-left:32% ;
    margin-bottom: 6%;
}
.form-control-1 {
    width: 75%;
    height: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 9%;
}
.form-control-2 {
    width: 75%;
    height: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 9%;
}
.form-control-3 {
    width: 75%;
    height: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 9%;
}

.btn-login {
    width: 28%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border-radius: 27%; */
    margin-left: 34%;
    margin-top: 6%;
}
.btn-gog{
    margin-top: 5%;
    width: 66%;
    height: 40px;
    background-color: white;
    color: black;
    padding: 10px;
    border: black;
    background-color: 3;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid white;
    margin-left:15%;
    /* margin-bottom: 11%; */
}